// Theme standard
$standard-main-background: hsl(222, 26%, 31%);
$standard-secondary-main-background: hsl(223, 31%, 20%);
$standard-screen-background: hsl(224, 36%, 15%);

$standard-key-background: hsl(30, 25%, 89%);
$standard-key-hover-background: hsl(30, 36%, 96%);
$standard-key-shadow: hsl(28, 16%, 65%);

$standard-delete-key-background: hsl(225, 21%, 49%);
$standard-delete-key-hover-background: hsl(225, 31%, 61%);
$standard-delete-key-shadow: hsl(224, 28%, 35%);

$standard-secondary-key-background: hsl(6, 63%, 50%);
$standard-secondary-key-hover-background: hsl(6, 69%, 57%);
$standard-secondary-key-shadow: hsl(6, 70%, 34%);

$standard-dark-text: hsl(221, 14%, 31%);
$standard-white-text: hsl(0, 0%, 100%);

// Theme light
$light-main-background: hsl(0, 0%, 90%);
$light-secondary-main-background: hsl(0, 5%, 81%);
$light-screen-background: hsl(0, 0%, 93%);

$light-key-background: hsl(45, 7%, 89%);
$light-key-hover-background: hsl(60, 10%, 94%);
$light-key-shadow: hsl(35, 11%, 61%);

$light-delete-key-background: hsl(185, 42%, 37%);
$light-delete-key-hover-background: hsl(186, 36%, 48%);
$light-delete-key-shadow: hsl(185, 58%, 25%);

$light-secondary-key-background: hsl(25, 98%, 40%);
$light-secondary-key-hover-background: hsl(25, 86%, 53%);
$light-secondary-key-shadow: hsl(25, 99%, 27%);

$light-dark-text: hsl(60, 10%, 19%);
$light-white-text: hsl(0, 0%, 100%);

// Tema Alternativo
$alternative-main-background: hsl(268, 75%, 9%);
$alternative-secondary-main-background: hsl(268, 71%, 12%);
$alternative-screen-background: hsl(268, 71%, 12%);

$alternative-key-background: hsl(268, 47%, 21%);
$alternative-key-hover-background: hsl(269, 54%, 42%);
$alternative-key-shadow: hsl(290, 70%, 36%);

$alternative-delete-key-background: hsl(281, 89%, 26%);
$alternative-delete-key-hover-background: hsl(281, 78%, 40%);
$alternative-delete-key-shadow: hsl(285, 91%, 52%);

$alternative-secondary-key-background: hsl(176, 100%, 44%);
$alternative-secondary-key-hover-background: hsl(176, 98%, 49%);
$alternative-secondary-key-shadow: hsl(177, 92%, 70%);

$alternative-yellow-text: hsl(52, 100%, 62%);
$alternative-dark-text: hsl(198, 20%, 13%);
$alternative-white-text: hsl(0, 0%, 100%);
